# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing & Coverage
/coverage

# Next.js Build Outputs
/.next/
/out/
/build

# Environment variables & secrets
.env
.env*
.env.local
.env*.local
.env.development
.env.test
.env.production
.env.staging


# Secret keys & certificates
*.pem
*.key
*.cert
*.crt
*.pfx
*.p12

# Debug & Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript & Cache
*.tsbuildinfo
next-env.d.ts
.eslintcache

# Operating System & IDE Files
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
.idea/
.vscode/
*.swp
*.swo
*~

